{% extends 'base.html' %} 

{% block content %}
<style>
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
    th, td {
        padding: 10px;
    }
    
    body {
        font-family: 'Sora', sans-serif;
    }

    h1, h5, p {
        text-align: center;
    }
    
    .form-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    .custom-button {
        background-color: #EBC2D5; 
        color: #A42153; 
        padding: 10px 20px; 
        margin-top: 10px; 
        border: none; 
        border-radius: 20px; 
        font-family: 'Sora', sans-serif;
        font-weight: 600;
    }
    
    .custom-button:hover {
        background-color: #df3c7b; 
        color: #EBC2D5;
    }
</style>

<h1>Add New Skincare</h1>

<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button class="custom-button" type="submit">
                        Add Product
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}