{% extends 'base.html' %}

{% block content %}
    <style>
        table {
            border-collapse: separate;
            border-spacing: 10px;
        }
        th, td {
            padding: 10px;
        }
        
        body {
            font-family: 'Sora', sans-serif;
        }

        .custom-font {
            font-family: 'Manrope', sans-serif;
            font-weight: 600;
            text-align: center;
            font-size: 15px;
        }

        h1, h5,h3, p {
            text-align: center;
        }
        
        .container {
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
        
        .notification {
            color: #EBC2D5;
            margin-top: 20px; 
            margin-bottom: 20px;
            font-family: 'Manrope', sans-serif;
            font-weight: 600;
        }
        
        .custom-header {
            background-color: #EBC2D5; 
            color: #A42153; 
            padding: 10px 20px; 
            margin-top: 20px; 
            border: none; 
            border-radius: 20px; 
            font-family: 'Sora', sans-serif;
            font-weight: 600;
        }

        .custom-button {
            background-color: #EBC2D5; 
            color: #A42153; 
            padding: 10px 20px; 
            margin-top: 20px; 
            border: none; 
            border-radius: 20px; 
            font-family: 'Sora', sans-serif;
            font-weight: 600;
        }
        
        .custom-button:hover {
            background-color: #df3c7b;
            color: #EBC2D5;
        }

        .update-button {
            background-color: #EBC2D5; 
            color: #A42153; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 100px; 
            font-family: 'Sora', sans-serif;
            font-weight: 600;
        }

        .update-button:hover {
            background-color: #df3c7b;
            color: #EBC2D5;
        }

        .delete-button {
            background-color: #EBC2D5; 
            color: #A42153; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 100px; 
            font-family: 'Sora', sans-serif;
            font-weight: 400;
        }

        .delete-button:hover {
            background-color: #df3c7b;
            color: #EBC2D5;
        }

        .custom-h4 {
            font-family: 'Manrope', sans-serif;
            max-width: 600px;
            text-align: center;
            margin: 0 auto;
            line-height: 1.4; 
        }
    </style>

    <h1>Skincare-List</h1>
    <h4 class="custom-h4">
        Welcome, {{name}}!
    </h4>
    <h4 class="custom-h4">
        "Skincare-List" is a platform specially designed to help you organize and manage your list of favorite skincare products. It's also a useful tool that can assist you in planning and tracking your skincare routine.
    </h4>
    
    

    <div class="container">
        <a href="{% url 'main:create_product' %}">
            <button class="custom-button">
                Add New Skincare
            </button>
        </a>
    </div>
    <div class="container">
        <a href="{% url 'main:logout' %}">
            <button class="custom-button">
                Logout
            </button>
        </a>
    </div>
    
    <h4 class="custom-h4" style="margin-top: 20px;">
        Sesi terakhir login: {{ last_login }}    
    </h4>
    
    {% if notification_message %}
    <div class="container">
        <div class="notification">
            {{ notification_message }}
        </div>
    </div>
    
    {% endif %}
    <div class="container">

        <table>
            <tr>
                <th>
                    <div class="custom-header">
                        Brand
                    </div>
                </th>
                <th>
                    <div class="custom-header">
                        Name
                    </div>
                </th>
                <th>
                    <div class="custom-header">
                        Amount
                    </div>
                </th>
                <th>
                    <div class="custom-header">
                        Description
                    </div>
                </th>
                <th>
                    <div class="custom-header">
                        Price
                    </div>
                </th>
            </tr>
            
            {% for product in products %}
            <tr>
                <td>
                    <div class="custom-font">
                        {{product.brand}}
                    </div>
                </td>
                <td>
                    <div class="custom-font">
                        {{product.name}}
                    </div>
                </td>
                <td>
                    <div class = "container">
                        <form action="{% url 'main:sub_stock' id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="update-button">
                                -
                            </button>
                        </form>
                        <div class="custom-font" style="margin-left: 20px; margin-right: 20px;">
                            {{product.amount}}
                        </div>
                        <form action="{% url 'main:add_stock' id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="update-button">
                                +
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="custom-font">
                        {{product.description}}
                    </div>
                </td>
                <td>
                    <div class="custom-font">
                        {{product.price}}
                    </div>
                </td>
                <td class="center-td">
                    <div class="container">
                        <form action="{% url 'main:delete' id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <br />
{% endblock content %}
